.success {
  color: #28a745;
}
.danger {
  color: #dc3545;
}
.warning {
  color: #ffc107;
}
.primary {
  color: #007bff;
}
.gm-style-iw.gm-style-iw-c {
  padding: 0;
}

.spinner-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .fa-spin {
    font-size: 3em;
    color: #17a2b7;
  }
}

.chart-wrapper {
  margin-top: 30px;

  .recharts-wrapper {
    margin: 0 auto;
    padding-bottom: 20px;
  }
}

.tooltip-wrapper {
  text-align: left;

  .flag-img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
    opacity: 0.15;
  }
  .tooltip-table {
    font-size: 18px;
    font-weight: bold;
  }
}
